# build output
dist/
.output/

# dependencies
node_modules/

#
r2.u0.vc

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production
.dev.vars

# macOS-specific files
.DS_Store
venv/

# github private key pem file
*private-key.pem
*private-key-pkcs8.pem

# localhost ssl certificates
localhost*.pem