---
import UDIA from "../../../components/story/UDIA.svelte";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import UnderstandImagine from "../../../components/story/UnderstandImagine.svelte";
---

<BaseLayout>
  <h2>Imagine you are writing a short story,</h2><br />
  but you're only allowed to talk to yourself.
  <UDIA client:load />
  Do you understand?
  <UnderstandImagine client:load />
</BaseLayout>
