---
import BaseLayout from "../../layouts/BaseLayout.astro";
import postComparator from "../../utils/postComparator";

const title = 'All';

const allPosts = await Astro.glob('./**/*.md');

// sort by most recently published
allPosts.sort(postComparator).reverse();

---

<BaseLayout title={title}>
  <ul>
    {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title || post.url}</a></li>)}
  </ul>
</BaseLayout>