---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <p>Everything app</p>

  <ul>
    <!-- TODO, fix this, use counter, make more interesting -->
    <li id="getItListItem">
      <input id="getIt" type="checkbox" /> Do you get it?
    </li>
    <!-- TODO: gotta update locale redirect to support nesting -->
    <li id="outputListItem"></li>
    <li><a href="/now">Now</a></li>
    <li>
      <input type="checkbox" checked={true} disabled={true} />
      <code>TODO: Haven't built this out yet</code>
    </li>
  </ul>

  <h1>Links</h1>
  <div>
    <a href="/todo">/to-Do</a>
    <a href="/identity">/Identity</a>
    <a href="/author">/Author</a>
  </div>
  <script>
    let checkbox = document.getElementById("getIt") as HTMLInputElement;
    let output = document.getElementById("outputListItem") as HTMLElement;
    checkbox.addEventListener("change", () => {
      while (output.firstChild) {
        output.removeChild(output.firstChild);
      }
      if (checkbox.checked) {
        const anchor = document.createElement("a");
        anchor.setAttribute("href", "/en/story/imagine");
        anchor.textContent = "Try Story Mode";
        output.appendChild(anchor);
      } else {
        output.textContent = "...";
      }
    });
    checkbox.checked; // it returns Boolean value
    console.log("foo");
  </script>
</BaseLayout>
