---
import BaseLayout from "../../layouts/BaseLayout.astro";

let getIt = false;
---

<BaseLayout>
  <p>Everything app</p>

  <ul>
    <!-- TODO, fix this, use counter, make more interesting -->
    <li><input type="checkbox" checked={getIt} /> Do you get it?</li>
    {getIt && <li>Want to try story mode?</li>}
    <!-- TODO: gotta update locale redirect to support nesting -->
    <li><a href="/en/story/imagine">Try Story Mode</a></li>
    <li><a href="/now">Now</a></li>
    <li>
      <input type="checkbox" checked={true} disabled={true} />
      <code>TODO: Haven't built this out yet</code>
    </li>
  </ul>

  <h1>Links</h1>
  <div>
    <a href="/todo">/to-Do</a>
    <a href="/identity">/Identity</a>
    <a href="/author">/Author</a>
  </div>
</BaseLayout>
