---
const data = JSON.stringify(Astro, undefined, 2);
Astro.response.status = Astro.response.status ?? 404;
Astro.response.statusText = Astro.response.statusText ?? "Not Found";
---

<h1>Not Found</h1>
<code style="max-width: 100vw;"><pre>{data}</pre></code>
