---
import Meta from "../components/Meta.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const status = Astro.response.status;
Astro.response.status = (status && status !== 200) ? status : 404;
const statusText = (Astro.response.statusText && Astro.response.statusText !== "OK") ? Astro.response.statusText : status === 404 ? "Not Found" : "Error";
Astro.response.statusText = statusText;
---

<BaseLayout>
  <h1>{statusText}</h1>
</BaseLayout>
