---
import BaseLayout from "../layouts/BaseLayout.astro";

const data = JSON.stringify(Astro, undefined, 2);
const status = Astro.response.status;
Astro.response.status = (status && status !== 200) ? status : 404;
const statusText = (Astro.response.statusText && Astro.response.statusText !== "OK") ? Astro.response.statusText : status === 404 ? "Not Found" : "Error";
Astro.response.statusText = statusText;

console.log(statusText, statusText !== "OK")
---

<BaseLayout>
  <h1>{statusText}</h1>
  <code style="max-width: 100vw;">
    <pre>{data}</pre>
  </code>
</BaseLayout>
