---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <iframe
    plausible-embed
    src="https://plausible.io/share/u0.vc?auth=B7hbMffcmqkjOF8S2AQ6k&embed=true&theme=system"
    scrolling="no"
    frameborder="0"
    loading="lazy"
    style="width: 1px; min-width: 100%;"></iframe>
  <div>
    Stats powered by <a
      target="_blank"
      href="https://plausible.io/u0.vc">Plausible Analytics</a
    >
  </div>
  <script async src="https://plausible.io/js/embed.host.js"></script>
</BaseLayout>
