---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const { title } = Astro.props.frontmatter || Astro.props;
---

<BaseLayout>
  <h1>{title}</h1>
  <slot />
  <h2>Meta</h2>
  <pre><code>{JSON.stringify(frontmatter, undefined, 2)}</code></pre>
  <style>
    body {
      margin: 1em;
    }
    pre {
      max-width: 100vw;
      overflow-x: auto;
      border: 1px dashed rebeccapurple;
    }
  </style>
</BaseLayout>
