---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const { title } = Astro.props.frontmatter || Astro.props;
---

<BaseLayout>
  <h1>{title}</h1>
  <slot />
  <pre><code>{JSON.stringify(frontmatter, undefined, 2)}</code></pre>
</BaseLayout>
